@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }
  @font-face {
    font-family: 'Antic Didone', serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Meddon', cursive;
    font-family: 'Montserrat', sans-serif;;
    src: url(https://fonts.googleapis.com/css2?family=Antic+Didone&family=IM+Fell+English+SC&family=Meddon&family=Montserrat:wght@100&display=swap);
  }

.LatexTitle{
    font-family: 'Meddon', cursive;
    font-size: 100px;
    padding-top: 15vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-bottom: 200px;
}
.LatexDate{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 400px;
}

.LatexAbstract{
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:20px;
    font-family: CMR;
    font-size: 21px;
    text-align: center;
    text-align: justify;
    text-indent: 20px
}

.Margins{
    padding-left: 21%;
    width: 58%;
}

.AbstractMargins{
    padding-left: 6%;
    width: 88%;
    padding-bottom: 100px;
}

.Section{
    font-family: 'IM Fell English SC', serif;
    font-size: 33px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}

.BodyText{
    font-family: CMR;
    font-size: 23px;
    text-align: justify;
    margin-top: 13px;
    margin-bottom: 200px;
    margin-right: 200px;
    margin-left: 200px;
    line-height: 125%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footerSize{
    height: 40vh;
    width: 100%;
}

